# KWin Script Maximized Window Gap
# (C) 2022 Murat Çileli <murat.cileli@gmail.com>
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Maximized Window Gap
Comment=Adds space around maximized windows.
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=maximized-window-gap
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Murat Çileli
X-KDE-PluginInfo-Email=murat.cileli@gmail.com
X-KDE-PluginInfo-License=GPL v3.0
X-KDE-PluginInfo-Website=

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=maximized-window-gap
X-KDE-ParentComponents=maximized-window-gap
